body {
  background: #fff;
  .limit {
    max-width: 1300px;
    margin: auto;
  }
  .row {
    margin: 0;
  }
  .cursor {
    cursor: pointer;
  }
  .colorDefault {
    color: #4ea950 !important;
  }
  .colorBlack {
    color: #000 !important;
  }
  .bgDefault {
    background: #4ea950;
  }
  .borderR {
    border-radius: 5px;
  }
  .colorWhite {
    color: #fff !important;
  }
  input,
  button {
    outline: none;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }
}

.loading {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .container {
    height: 60px;
    width: 60px;
    margin: 250px auto 0;
    position: relative;
  }
  .container,
  .it {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .it {
    border-radius: 50%;
    position: absolute;
  }
  .item1 {
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 10px #ff3232;
    animation: spin 2s linear infinite;
  }
  .item2 {
    height: 80%;
    width: 80%;
    box-shadow: -3px 3px 5px #8db5ff;
    animation: spin 1s linear infinite reverse;
  }
  .item3 {
    height: 60%;
    width: 60%;
    box-shadow: 3px -3px 5px rgb(27, 221, 108);
    animation: spin 4s linear infinite;
  }
}

@media (max-width: 575px) {
  .font {
    font-size: 13px !important;
  }
}
@media (min-width: 576px) {
  .font {
    font-size: 13px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .font {
    font-size: 15px !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.alert {
  animation: topFadeOut 1s linear;
}
.alert-false {
  color: red;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
@keyframes topFadeOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
