.header {
  box-shadow: 0px 0px 5px gray;
  nav.navbar {
    background: transparent;
    .nav-link {
      color: #000;
      &:hover {
        color: #ff4b4a !important;
      }
    }
  }
}
.headerProduct {
  border-bottom: 0.5px solid #b9b9b9;
  background: #fff;
  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;
  nav.navbar {
    .nav-link:hover {
      color: #ff4b4a !important;
    }
  }
}
.menu {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}
.cart {
  .myCart {
    display: none;
    position: absolute;
    top: 50px;
    right: -30px;
    max-height: 300px;
    width: 400px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid gray;
  }
  &:hover {
    .myCart {
      z-index: 2;
      display: block;
    }
  }
}
.user {
  a {
    color: #000;
    &:hover {
      color: #ff4b4a !important;
    }
  }
  .userShow {
    display: none;
  }
  &:hover {
    .userShow {
      z-index: 2;
      display: block;
    }
  }
}
